<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become A Member</title>
</head>
<body>
    <h1>Become a Member</h1>
    <div>
        <p>Answer this Question to become a Member</p>
        <p>Who is the Greatest Midfielder of All Time?</p>
        <p></p>
        <form action="/membership" method="POST">
            <label for="answer">Answer:</label><br>
            <input type="text" name="answer" id="answer">
            <button type="submit">Submit</button>
        </form>
    </div>
   
</body>
</html>